<div class="blog-wrapper">
    <h1 class="blog-title">Blog mesmo</h1>
    <h4 class="blog-subtitle">Por:</h4>
    <a href="https://www.facebook.com/samuel.koch.397" target="_blank"><%= image_tag "samu.jpg" %></a>
    <a href="https://www.facebook.com/hnreche" target="_blank"><%= image_tag "rico.jpg" %></a>
    <a href="https://www.facebook.com/gabriel.luz.39" target="_blank"><%= image_tag "gab.jpg" %></a>
    <h3 class="blog-subtitle">Mulecada boa mandando um código em pleno domingão</h3>        
</div>
