<div class="jumbotron container post-container">

    <h2><%= @post.title %></h2><br>

    <p><%= @post.text %></p>
    
    <span class="glyphicons glyphicons-calendar"></span>
    <div>
        <span class="badge badge-primary">Tecnologia</span>
        <span class="badge badge-primary">Tops</span>
        <span class="badge badge-primary">Ruby</span>
        <span class="badge badge-primary">Rails</span>
        <span class="badge badge-primary">Samu mestre</span>
    </div>    
</div>


